.login-container{
    width: 28%;
    margin: 0 auto;
    margin-top: 7rem;
    min-height: 0;
}
.login-bolt-bg{
    background-color: #3C83F6;
    height: 4rem;
    width: 4rem;
    border-radius: 25%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.bolt{
    font-size:2rem;
}
.agent-subtext{
    color: #758884 !important;
}
.field{
    background-color: #0D1321;
    width: 88%;
    border: 2px solid #121825;
    outline: none;
}
.sign-in{
    background-color: #3C82F3;
    border: none;
    border-radius: .5rem;
}
.light-mode-container{
    height:4rem;
}
.light-mode{
    background-color: #121b30;
    color: #62738B;
    border: none;
    border-radius: 100rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    flex-shrink: 0;
}
p {
    margin-bottom: 0 !important;
}
.no-account{
    color: #758884;
}
.login-container a{
    color: #3C82F3;
}